@import '../base/base.scss';

.todolist {
    width: 100%;
    margin: 1rem 0;
    height: auto;

    h2 {
        width: 100%;
        text-align: center;
    }
    &__wrapper {
        @include grid(1, 0.5rem);
        height: auto;
        width: 100%;

        span {
            width: 100%;
            text-align: center;
            margin: 2rem 0;
        }
    }
}
